    save_best: True
    plot_agents: False

    logger:
      classname: bbrl.utils.logger.TFLogger
      log_dir: ./dqn_full_logs/
      verbose: False
      every_n_seconds: 10

    algorithm:
      seed: 4
      nb_seeds: 1
      epsilon_init: 0.02
      epsilon_end: 0.0001
      buffer_size: 9
      max_grad_norm: 0.5
      n_envs: 1
      n_steps: 5
      batch_size: 10
      eval_interval: 1
      start_step: 1
      target_critic_update: 10000
      nb_evals: 1
      gae: 0.8
      max_epochs: 5
      discount_factor: 0.99
      architecture:
        hidden_size: [256, 256]

    gym_env:
      classname: __main__.make_gym_env
      env_name: DebugV-v0

    optimizer:
      classname: torch.optim.Adam
      lr: 2.3e-3
