      save_best: False
      plot_agents: False

      logger:
            classname: bbrl.utils.logger.TFLogger
            log_dir: ./ppo_logs/
            verbose: False
            every_n_seconds: 10

      algorithm:
            seed: 1
            nb_seeds: 1
            max_grad_norm: 0.9
            n_envs: 8
            n_steps: 256
            eval_interval: 4000
            nb_evals: 10
            gae: 0.9
            max_epochs: 21000
            discount_factor: 0.999999
            entropy_coef: 0
            critic_coef: 0.9
            actor_coef: 1
            clip_range: 0.2
            clip_range_vf: 0
            architecture:
                  actor_hidden_size: [64]
                  critic_hidden_size: [64]

      gym_env:
            classname: __main__.make_gym_env
            env_name: Swimmer-v3

      optimizer:
            classname: torch.optim.Adam
            lr: 0.002
